
<div class="well">
    <div class="row">
    <div class="col-sm-8">
        <div class="form-group">
            <img class="responsive" src="~/images/store.png" width="200px"/>
        </div>
        <div class="row">
        <div class="form-group col-sm-4">
            <button class="btn btn-warning btn-block">Browse</button>
        </div>
        </div>
        <div class="form-group">
            <label>ชื่อสินค้า</label>
            <input type="text" class="form-control" placeholder="">
        </div>
        <div class="form-group">
            <label>ราคาสินค้า</label>
            <input type="number" class="form-control" placeholder="0">
        </div>
        <div class="form-group">
            <label>รายละเอียด</label>
            <textarea class="form-control"></textarea>
        </div>
    </div></div>
    <div class="row">
        <div class="col-sm-offset-8 col-sm-4 row">
            <div class="col-sm-6">
                <a class="btn btn-warning btn-block">ยืนยัน</a>
            </div>
            <div class="col-sm-6">
                <a class="btn btn-default btn-block">ยกเลิก</a>
                </div>
        </div>
    </div>
</div>